<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style3.css"/>

</head>
<body class="body">
<div class="header">
    <h1>   </h1> <br>
    <br>
    <br>
    <br>
    Sorry! You Lost!
    You have scored: <p th:text="${finalscore} + ' Out of 10.'" >  </p>
    End of the Game

    <br>

    <a input type="submit" th:value href="/score"> Top Score </a> /
    <a input type="submit" th:value href="/"> Try Again </a>
    <br>

</div>

</body>
</html>